.navbar {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  font-family: arial,sans-serif;
}

li {
  float: right;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#logo{
  display: block;
  margin: auto;
    margin-top: 250px;
  justify-content: center;
  width: 300px;
  height: auto;
}

#search-bar{
  display: block;
  width: 530px;
  height: 44px;
  margin: auto;
  margin-top: 17px;
  justify-content: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
}

#search-bar:hover{
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

#search-bar:focus{
  outline: none;
}

.button-container{
  display: flex;
  position: relative;
  top: 16px;
  justify-content: center;
}
.button{
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 7px 16px 0 16px;
  line-height: 27px;
  height: 34px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.button:hover{
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
  text-decoration: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: grey;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.footer-container{
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: gray;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  background: #f2f2f2;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
  font-family: arial, sans-serif;
}
.footer-container-left{
  display: flex;
  justify-content: flex-start;
}
.footer-container-right{
  display: flex;
  justify-content: flex-end;
  margin-right: 17px;
}
.footer{
  padding-left: 27px;
  color: rgb(95, 99, 104);
}

.footer a {
  text-decoration: none;
  color: inherit;
}
